/* You can add global styles to this file, and also import other style files */
p.a {
  font-family: "Open Sans";
  font-weight: 300;
}

.body {
  background: linear-gradient(to right, #f857a6, #ff5858);
}
